
#Sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    /* background: url('xyx/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}
#Sec2 main {
    width: 600px;
    height: 500px;
    /* background-color: rgb(116, 146, 187); */
 
    font-family: Arial, Helvetica, sans-serif;
   
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
aside{
    width: 50%;
    height: 500px;
    /* border: 2px solid red; */
    margin: 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

}
aside .art{
    width: 100%;
    height: 150px;
    background-color: rgb(156, 194, 135);
    /* margin-bottom: 23px */
}

@media screen and (max-width:782px) {
   
   
    aside{
        
        margin-top: 20px;
        margin-left: 0px;
    }
  
   
    
}
@media screen and (max-width:1091px) {
  
#Sec2{
    flex-direction: column;
   
  }
 
aside{
        
    width: 100%;
    margin-left: 0px;
    margin-top: 20px; 

}
#Sec2 main{
    width: 100%;
}


    
    
}
@media screen and (max-width:560px) {
    
    #Sec2 main{
        width: 100%;
    }
    
    aside{
        
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
   }
  
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 10px;
    width: 100%;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: blue;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  input[type="submit"]:hover {
    background-color:blue;
  }
  
  #responseMessage {
    margin-top: 15px;
    color: #333;
  }

  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  